src/main/app/groovy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="groovyFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/groovy" doc:name="HTTP"/>
        <logger message="Flow Executed" level="INFO" doc:name="Logger"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[Date date = new Date()
System.println("Flow Started at "+date)
sleep(20000)
date = new Date()
System.println("Flow Started at "+date)

a="helloworld"
System.println("Im Chitti"+a)

a=10
b=20
c=a+b
System.println("The addtion of a and b is = "+c)










]]></scripting:script>
        </scripting:component>
        <set-payload value="#['Flow Execution is Completed']" doc:name="Set Payload"/>
    </flow>
</mule>
